# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignorar archivos temporales de compilación
Microservicio-Productos/build/
Microservicio-Usuario/build/
.gradle/